h1 {
  font-family: Arial, Helvetica, sans-serif; 
  font-weight: bold;
  color:#ffee58;
}

h2 {
  margin: 10px 10px 0 0;
}

h3 {
  margin: 0;
  padding: 0;
  font-weight: bold;
  color:#e6a80e;
}

h4 {
  margin-left: 5px;  
}

.content {
  border: 1px solid #8080806b;
}

.folder-icon {
  color: #e6a80e;
}

.item {
  display: flex;
  cursor: pointer;
}

.active {
  background-color: rgb(0, 188, 212, 0.3);
}

mat-drawer {
	min-height: 400px;
  width: 150px;
}

mat-drawer-content {
	min-height: 400px;
}

.container {
  width: 95%;
  margin: 1% auto;
}

.btn-block {
  display: block;
  width: 100%;
}